$dark_color: #48A70B;
$light_color: rgb(216, 233, 216);
$delicate_color: #E2EE8B;
$highlight_color: #99ff99;
$active_color: #1ac995;
$header_background_color: $light_color;
$button_background_color: $highlight_color;
$active_button_background_color: $active_color;
$active_button_text_color: white;
$text_color: black;
$text_success_color: $active_color;
$text_annotations_color: #685206;
$text_error_color: #fc5e03;
$icon_error_color: #f04022;
